# Version control
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
pip-log.txt
*.egg-info/
.eggs/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
tests/
docs/
*.md
Dockerfile
.dockerignore
deploy.yml

# Docker
.docker

# Node (in case there are any node files)
node_modules/
npm-debug.log

# Build and dist
build/
dist/